@model BTL_LTWeb.Models.EF.Order
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 style="margin: 20px 20px">
    Are you sure you want to delete this transation?
</h3>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Transaction</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Data</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="DisplayOrder">
                            @{
                                <tr>
                                    <td>Model.id</td>
                                    <td>Model.Transaction.user_name</td>
                                    <td>Model.Product.name</td>
                                    <td>Model.quantity</td>
                                    <td>Model.amount</td>
                                    <td>Model.status</td>
                                    <td>Model.data</td>
                                    <td>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-actions no-color">
                                                <input type="submit" value="Yes" class="btn btn-primary" />
                                                <a class="btn btn-primary" href="@Url.Action("Index")" style="margin-left: 10px">No</a>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>